
system/system/app/Chrome/Chrome.apk
system_other/app/Maps/oat/arm64/Maps.odex
system_other/priv-app/GmsCore/oat/arm/GmsCore.odex
system_other/priv-app/GmsCore/oat/arm64/GmsCore.odex
system_other/priv-app/Velvet/oat/arm64/Velvet.odex
vendor/app/Ds2UI/Ds2UI.apk
